<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demouser.mapper.RoomMapper">
<!--    List<Integer> getAllFloors();-->
    <select id="getAllFloors" resultType="Integer">
        select distinct floor from room order by floor
    </select>

<!--    List<Room> getAvailableRoomByFloor(LocalDateTime beginTime,LocalDateTime endTime, Integer floor);-->
    <select id="getAvailableRoomByFloor" resultType="com.example.democommon.entity.Room">
        select distinct * from room where  floor=#{floor} and id not in  (
            select distinct roomId from reserve
                    where (beginTime > #{beginTime} and beginTime &lt; #{endTime})
                       or (endTime > #{beginTime} and endTime &lt; #{endTime})
                       or (beginTime >= #{beginTime} and beginTime &lt; #{endTime})
                       or (endTime >= #{beginTime} and endTime &lt; #{endTime})
                       or (beginTime > #{beginTime} and beginTime &lt;= #{endTime})
                       or (endTime > #{beginTime} and endTime &lt;= #{endTime})
        )
    </select>
</mapper>
