<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demouser.mapper.UserMapper">
<!--List<Integer> getAllGrade();-->
    <select id="getAllGrade"  resultType="Integer">
        select distinct grade from student order by grade
    </select>
<!--       List<String>getClazzByTno(Integer tno); -->
    <select id="getClazzByTno" resultType="String">
        select distinct clazz from teacher_to_clazz where tno=#{tno} order by clazz
    </select>
<!--    Boolean studentAvatar(Integer sno);-->
    <select id="studentAvatar" resultType="Boolean">
        select avatar from student where sno=#{sno}
    </select>
<!--    Boolean teacherAvatar(Integer tno);-->
    <select id="teacherAvatar" resultType="Boolean">
        select avatar from teacher where tno=#{tno}
    </select>
<!--        void saveStudentImg(Integer sno);-->
    <update id="saveStudentImg">
        update student set avatar=true where sno=#{sno}
    </update>
<!--    void saveTeacherImg(Integer tno);-->
    <update id="saveTeacherImg">
        update teacher set avatar=true where tno=#{tno}
    </update>
</mapper>
